.navbar {
  padding: 1em;
  background-color: var(--main-primary);
  color: white;
}

.container {
  padding: 2em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search input {
  width: 400px;
  max-width: 100%;
  padding: 0.3em;
  border-radius: 3px;
}
