.post {
  background-color: rgb(238, 238, 238);
  width: 600px;
  max-width: 95%;
  border: 1px solid rgb(126, 124, 124);
  border-radius: 5px;
  cursor: pointer;
  margin: 1em;
  padding: 1em;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  transition: 0.3s;
}

.post h3 {
  margin-bottom: 1em;
}

.post:hover {
  background-color: rgb(214, 214, 214);
  transform: scale(1.02);
}
